
/*h1 {*/
    /*font-size: 2em;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
/*}*/

/*body, td, a, div, .p {*/
    /*font-family: arial, sans-serif*/
/*}*/

.harioca-rootPanel {
    overflow-x:hidden;
}

.harioca-upperToolBar {
    min-width: 100%;
    min-height: 50px;

    background: url("images/logo.png") no-repeat left;
}

.harioca-logo {
    color: #1f497d;
}

.harioca-upperButton {
    color: #007e00;
    font-weight: bold;
    /*min-height: 50px;*/
    background: url("images/upperButtonBG.png");
}

.harioca-upperButton-d {
    color: #679e67;
    font-weight: bold;
    /*min-height: 50px;*/
    background: url("images/upperButtonBG_d.png");
}

.harioca-upperButton-latest {
    color: #1f497d;
    background: url("images/upperButton-latest-bg.png") no-repeat right;
}

.harioca-logPanel {
    /*min-width: 99%;*/
    /*min-height: 300px;*/
    border: 2px #92C1F0 solid;
}

.harioca-logPanelHeader {
    /*min-width: 100%;*/
    /*min-height: 30px;*/
    /*border: 2px #7d491f solid;*/
    background-color: #eee;
}

.harioca-logTitle {
    color: #1f497d;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.harioca-logArea {
    /*border: none;*/
    /*resize: none;*/
    /*min-width: 100%;*/
    /*min-height: 270px;*/
}

.harioca-formPanel {
    /*min-width: 99%;*/
    /*min-height: 300px;*/
    /*border: 2px #92C1F0 solid;*/
}

.harioca-formViewHeader {
    background-color: #eee;
    /*border: 1px #a0a0a0 solid;*/
    border-top: 2px #92C1F0 solid;
}
